<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,480}}</string>
                <key>sourceSize</key>
                <string>{800,480}</string>
            </dict>
            <key>groundGrass.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{808,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,71}}</string>
                <key>sourceSize</key>
                <string>{808,71}</string>
            </dict>
            <key>puffLarge.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,426},{42,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,35}}</string>
                <key>sourceSize</key>
                <string>{42,35}</string>
            </dict>
            <key>puffSmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,426},{25,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,21}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>rock.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,75},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>rockDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,316},{108,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,239}}</string>
                <key>sourceSize</key>
                <string>{108,239}</string>
            </dict>
            <key>starBronze.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,426},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starGold.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,426},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>starSilver.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,426},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet.png</string>
            <key>size</key>
            <string>{1614,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:770e7ee42943f48c553c9631a7ceb689:6a79c328acf16b46514cabe35385ff04:1de88c2a7237d4cdf78de8d8ad4f4c7e$</string>
            <key>textureFileName</key>
            <string>spritesheet.png</string>
        </dict>
    </dict>
</plist>
